/*etiqueta, id, clase */
*{
	border: 0;
	margin: 0;
	padding: 0;
}
body{
	/*nombre del color, #rgb    o con el codigo rgb()*/
	background-color:#000 ;
	color: white;
	text-align: center;
}
h1{
	font-size: 5em;
	margin: 0.5em;
}
ul{
	width: 100%;
}
ul li{
	border: 1px solid white;
	color: white;
	display: inline-block;
	font-size: 1.3em;
	padding: 0.5em;
	width: 23%;
}
ul li:hover{
	border: double;s
	border-radius: 16px;
	background-color: #555;
	transition: 2s;
}
section{
	margin-top: 1em;
	width: 100%;
}
section article{
	background-color: white;
	display: inline-block;
	width: 65%;
}

section img{
	max-width: 100%;
}
footer{
	background-color: #666;
	box-sizing: border-box;
	font-size: 0.7em;
	font-weight: bold;
	color: #ddd;
	padding:0.7em;
    margin: 0;
	width: 100%;
}
section#gal{
	background-color: #555;
	width: 100%;
}
article.galeria{
	border-radius: 10px;
	color: black;
	cursor: pointer;
	display: inline-block;
	margin: 1em; 
	width: 28%;
}
article.galeria img:hover{
opacity: 0.7;
transform: 2s;
}
article.galeria img{
	border-radius: 10px;
	max-height: 100px;
	max-width: 90%;
}